* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: #ffffff;
    height: 100vh;
}

a {
    color: white;
}
/* BANNER PAGINA ITESCO2 */

.Ban-itesco {
    width: 100%;
    padding: 5px 0px;

}

.cont-32 {
    text-align: center;
    width: 90%;
    padding: 5px 0;
    margin: 0px 5%;
}

img {
    width: 1120px;
    height: 118px;
}

/* Barra Nav*/

header {
    width: 100%;
    padding: 0px 0px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #1b396a;
    padding-left: 2vw;
    padding: 10px 0;
    font-size: 12px;
}

.logo {
    background-image: url(../Img/Icon_home.png);
    background-size: 45px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

.logo li:first-child:hover a{
    background-image: url(../Img/Icon_home.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center center;
}

.Ul-one {/* listo */
    display: flex;
    align-items: center;
}

li {
    list-style: none;
    cursor: pointer;
    padding: 1vw;
    transition: all 300ms ease;
    text-transform: uppercase;
    color: white;
}

li:hover {
    transform: scale(1.1);
    background-color: #9E9E9E;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
    color: white;
}

.Inf-esc {
    position: relative;
}

.Ul-two {
    display: none;
    position: absolute;
    margin-top: 1vw;
    color: white;
}

.Ul-two > li {
    font-size: 11px; /* TAMAÑO LETRA*/
    padding: 5px 10px;
    width: 180px;
    text-align: left;
    color: white;
    background-color:  #1b396a;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
}

.Ul-two > li:hover {
    background: #BDBDBD;
    color: #ffffff;
}

.Inf-esc:hover > .Ul-two {
    display: block;
}

.Ul-three {
    position: absolute;
    transform: translateX(95%);
    right: 0;
    top: 12%;
    color: #ffffff;
    display: none;
    background-color: #1b396a;
}

.Ul-three > li {
    padding: 5px 10px;
    font-size: 10px;
    color: white;
}

.li-one:hover > .Ul-three {
    display: block;
}


/* SECCION NOTICIAS */
.post-list {
    display: flex;
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    padding: 10px 70px;
    color: black;
    width: 100%;
}

.content {   /* Estructura Contenido */
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Num columnas */
    grid-gap: 20px;
    width: 100%;
    margin: 70px 0;
    color: black;
}

.post-img-1 {
    background: url(Img/REUNION_EMPRESARIOS.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    color: black;
}

.post-img-2 {
    background: url(Img/REUNION_EMPRESARIOS_2.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    color: black;
}

.post-img-3 {
    background: url(Img/li.png);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
    color: black;
}

.post {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
}

.post:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0,0, .15);
}

.post-header {
    width: 100%;
    height: 200px;
    cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3 {
    transform: scale(1.1);
}

.post-body {
    font-size: 13px;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.post-body span {
    display: inline-block;
    color: black;
    margin-bottom: 10px;
}

.post-body h2 {
    margin-bottom: 15px;
}

.post-body p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #E0E0E0;
    color: black;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px  6px 1px rgba(0, 0, 0, .1);
}

.post-body .post-link:hover {
    background: blueviolet;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

@media (max-width: 840px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}